# ATS Proxy Enterprise v3.0 - utenti Basic Auth hashati
#
# Copiare in: /opt/trafficserver/etc/trafficserver/plugin/auth.conf
# Non scrivere password in chiaro.
# Generare utenti con:
#   sudo ats-ctl user add admin
#
# Formato interno:
#   USER <nome> <salt>$<sha256(salt+password)>
#
# Esempio fittizio, non usare:
# USER admin 0123456789abcdef$aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
